.advantages-card {
  min-height: 241px;
  background-color: $color-alice-blue;
  margin: 0;
  padding: 30px 33px 26px 30px;
}

.advantages-card__icon {
  min-height: 32px;
  margin-bottom: 18px;
}

.advantages-card__icon svg {
  vertical-align: middle;
}

.advantages-card h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 10px;
}

.advantages-card p {
  line-height: 19.6px;
  margin: 0;
}
