.advantages {
  min-height: 562px;
  background-color: $color-pattens-blue;
  background-image: url("/img/jpg/advantages-background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("/img/jpg/advantages-background-desktop@2x.jpg");
  }
}

.advantages h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}
