.advantages-card {
  min-height: 241px;
  background-color: $color-alice-blue;
  margin: 0;
  padding: 30px 33px 26px 30px;

  @include vp-1159 {
    min-height: 310px;
    min-width: 206px;
  }

  @include vp-767 {
    min-height: 249px;
    min-width: 290px;
    padding: 25px 15px 25px 20px;
  }
}

.advantages-card--ship svg {
  width: 27px;
  height: 32px;

  @include vp-767 {
    width: 21px;
    height: 26px;
  }
}

.advantages-card--allinclusive svg {
  width: 38px;
  height: 21px;

  @include vp-767 {
    width: 33px;
    height: 19px;
  }
}

.advantages-card--boat svg {
  width: 27px;
  height: 32px;

  @include vp-767 {
    width: 38px;
    height: 13px;
  }
}

.advantages-card__icon {
  min-height: 32px;
  margin-bottom: 18px;
}

.advantages-card__icon svg {
  vertical-align: middle;
}

.advantages-card h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 10px;
}

.advantages-card p {
  line-height: 19.6px;
  margin: 0;
}
