.booking-form {
  background-color: $color-tangaroa;
  box-shadow: 0px 4px 45px $color-tangaroa-shadow;
  max-width: 403px;
  min-height: 455px;
  padding: 50px;
}

.booking-form h3{
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.booking-form input {
  width: 303px;
  margin: 0;
  margin-bottom: 20px;
  padding: 11px 16px;
  color: $color-tangaroa;
  border: none;

  &::placeholder {
    color: $color-tangaroa-placeholder;
    opacity: 1;
  }

  &:hover {
    box-shadow: inset 0 0 0 2px $color-curiosus-blue;
  }

  &:active,
  &:focus {
    outline: solid 1px $color-curiosus-blue;
    outline-offset: 2px;

    &::placeholder {
      color: transparent;
      opacity: 1;
    }
  }
}

.booking-form__agreement {
  margin-bottom: 25px;
}

.booking-form__agreement input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.booking-form__agreement label {
  color: $color-alice-blue;
  font-size: 10px;
  line-height: 13px;
}

.booking-form__agreement input + label {
  position: relative;
  padding-left: 24px;
}

.booking-form__agreement input + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  background-image: url("/img/svg/icon-checkbox-off.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.booking-form__agreement input:focus + label::before,
.booking-form__agreement input:active + label::before {
  outline: solid 1px $color-curiosus-blue;
  outline-offset: 2px;
}

.booking-form__agreement input:checked + label::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  background-image: url("/img/svg/icon-checkbox-on.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  cursor: pointer;
}
