.booking {
  min-height: 555px;
  background-color: $color-pattens-blue-2;
  background-image: url("/img/jpg/booking-background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("/img/jpg/booking-background-desktop@2x.jpg");
  }

  @include vp-1159 {
    min-height: 805px;
    background-image: url("/img/jpg/booking-background-tablet@1x.jpg");

    @include retina {
      background-image: url("/img/jpg/booking-background-tablet@2x.jpg");
    }
  }
}

.booking__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 40px;
  row-gap: 30px;

  @include vp-1159 {
    display: block;
  }
}


.booking__description {
  align-self: center;
  padding-left: 60px;

  @include vp-1159 {
    padding-left: 0;
    padding-bottom: 60px;
    text-align: center;
  }
}

.booking h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  margin-top: -8px;
}

.booking p {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-top: 10px;
}

.booking__form {
  margin-left: 97px;

  @include vp-1159 {
    margin: 0 137px;
  }
}
