.button {
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  font-weight: 600;
  line-height: 21px;
  padding: 14px 46px 15px 47px;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-ship-cove;
  }

  &:active {
    background-color: $color-curiosus-blue;
  }
}
