.button {
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  font-weight: 600;
  line-height: 21px;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-ship-cove;
    color: $color-alice-blue;
  }

  &:active {
    background-color: $color-curiosus-blue;
    color: $color-alice-blue;
  }

  &:focus,
  &:active {
    outline: solid 1px $color-curiosus-blue;
    outline-offset: 2px;
  }
}
