.catalog-card {
  color: $color-alice-blue;
  line-height: 19.6px;
  width: 260px;
  min-height: 386px;

  display: grid;
  grid-template-areas: "card-area";

  @include vp-1159 {
    width: 309px;
  }

  &:hover {
    display: flex;
    flex-direction: column;
    background-color: $color-tangaroa;
  }

  &:hover .catalog-card__side--front {
    display: none;
  }

  &:hover h3 {
    margin: 27px 30px 16px 25px;
  }

  &:hover .catalog-card__side--back {
    display: flex;
    flex-direction: column;
  }
}

.catalog-card__side--front {
  grid-area: card-area;
  position: relative;
}

.catalog-card picture,
.catalog-card img {
  object-fit: cover;

  @include vp-1159 {
    width: 309px;
    height: 386px;
  }
}

.catalog-card__side--back {
  display: none;
  min-height: 316px;
  padding: 0 25px;
  box-shadow: 0 4px 4px $color-black-transparent;

  @include vp-1159 {
    box-shadow: none;
  }
}

.catalog-card__side--back dl,
.catalog-card__side--back dt,
.catalog-card__side--back dd {
  margin: 0;
}

.catalog-card__side--back dl {
  padding-bottom: 12px;
}

.catalog-card__side--back dt {
  font-weight: 500;
}

.catalog-card__side--back dd {
  color: $color-quartz;
  padding-bottom: 13px;
}

.catalog-card__button {
  padding: 10px 10px 9px;
}
