.contacts {
  min-height: 546px;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}

.contacts__map {
  position: relative;
  overflow: hidden;
}

.contacts__map iframe {
  position: relative;
  z-index: 2;
  width: 560px;
  height: 306px;
  padding: 0;
}

.contacts__map img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
}

.contacts__info {
  align-self: center;
  padding-left: 60px;
}

.contacts__slogan p {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.contacts__address p,
.contacts__phone p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
