.contacts {
  min-height: 546px;

  @include vp-1159 {
    min-height: 535px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}

.contacts__map {
  position: relative;
  overflow: hidden;
}

.contacts__map iframe,
.contacts__map img {
  min-width: 560px;
  height: 306px;
  object-fit: cover;

  @include vp-1159 {
    min-width: 324px;
    height: 335px;
  }
}

.contacts__map iframe {
  position: relative;
  z-index: 2;
  padding: 0;
}

.contacts__map img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
}

.contacts__info {
  align-self: center;
  padding-left: 60px;
  font-size: 16px;

  @include vp-1159 {
    padding-left: 0;
  }
}

.contacts__slogan {
  margin: 10px 0 33px;
}

.contacts__slogan p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.contacts__address,
.contacts__phone {
  margin: 0 0 20px;
}

.contacts__address svg,
.contacts__phone svg {
  vertical-align: middle;
}

.contacts__address p,
.contacts__phone a {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-left: 6px;
}
