.contacts {
  min-height: 546px;

  @include vp-1159 {
    min-height: 535px;
  }

  @include vp-767 {
    min-height: 703px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 40px;
  row-gap: 30px;

  @include vp-1159 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts__map {
  position: relative;
  overflow: hidden;
}

.contacts__map iframe,
.contacts__map img {
  min-width: 560px;
  height: 306px;
  object-fit: cover;

  @include vp-1159 {
    min-width: 324px;
    height: 335px;
  }

  @include vp-767 {
    min-width: 290px;
    height: 316px;
  }
}

.contacts__map iframe {
  position: relative;
  z-index: 2;
  padding: 0;
}

.contacts__map img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
}

.contacts__info {
  align-self: baseline;
  padding-top: 72px;
  padding-left: 60px;
  font-size: 16px;

  @include vp-1159 {
    padding-top: 64px;
    padding-left: 0;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__slogan p {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin: 0;

  @include vp-1159 {
    line-height: 27px;
  }
}

.contacts__address,
.contacts__phone {
  display: flex;
  margin: 0;
  margin-bottom: 21px;

  @include vp-1159 {
    margin-bottom: 22px;
  }
}

.contacts__phone {
  @include vp-767 {
    margin-bottom: 4px;
  }
}

.contacts__address svg,
.contacts__phone svg {
  display: inline-block;
  height: 24px;
  min-width: 18px;
}

.contacts__address svg {
  @include vp-1159 {
    margin-top: 3px;
  }
}

.contacts__address p,
.contacts__phone a {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-left: 10px;

  @include vp-1159 {
    margin-top: -2px;
  }
}

