.menu-toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-toggle__icon {
  height: 24px;
  width: 24px;
}

.menu-toggle__icon--burger {
  stroke: $color-alice-blue;

  &:hover,
  &:focus {
    stroke: $color-ship-cove;
  }

  &:active {
    stroke: $color-curiosus-blue;
  }
}

.menu-toggle__icon--cross {
  stroke: $color-tangaroa;
  position: relative;
  top: 5px;
  left: 5px;

  &:hover,
  &:focus {
    stroke: $color-ship-cove;
  }

  &:active {
    stroke: $color-curiosus-blue;
  }
}
