.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6px;

  &--footer {
    justify-content: start;
    padding-left: 5px;
  }
}

.navigation__item {
  padding-left: 34px;

  @include vp-1159 {
    padding-left: 23px;
  }
}

.navigation a {
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;

  @include vp-1159 {
    font-size: 14px;
    line-height: 17px;
  }

  &:hover,
  &:focus {
    color: $color-ship-cove;
  }

  &:active {
    color: $color-curiosus-blue;
  }
}
