.page-header {
  min-height: 650px;
  color: $color-alice-blue;
  background-color: $color-dark-cerulean;
  background-image: url("/img/jpg/header-background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 4px 4px $color-black-transparent;

  @include retina {
    background-image: url("/img/jpg/header-background-desktop@2x.jpg");
  }
}

.page-header__navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.page-header__menu-toggle {
  display: none;
}

.page-header__title {
  padding-top: 210px;
  padding-left: 95px;
}

.page-header__title h1 {
  margin: 0;
  font-size: 54px;
  line-height: 65.83px;
}

.page-header__title p {
  font-size: 20px;
  line-height: 24.38px;
}
