.page-footer {
  background-color: $color-tangaroa;
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 70px 1fr 106px;
  align-items: center;
  min-height: 138px;
  padding-top: 6px;

  @include vp-1159 {
    min-height: 120px;
    grid-template-columns: 38px 1fr 87px;
  }
}
