.promo {
  min-height: 548px;

  @include vp-1023 {
    min-height: 464px;
  }
}

.promo__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 40px;
  row-gap: 30px;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: block;
  }
}

.promo__info {
  align-self: center;
  padding-right: 47px;

  @include vp-1159 {
    padding-right: 0;
  }

  @include vp-767 {
    padding-bottom: 33px;
  }
}

.promo__info h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: -4px 0 0;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36.4px;
    margin-top: -9px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 33.6px;
  }
}

.promo__info p {
  font-size: 16px;
  margin: 0;
  padding: 24px 0 0;

  @include vp-1023 {
    padding-top: 15px;
  }

  @include vp-767 {
    padding-top: 17px;
  }
}

.promo__picture img,
.promo__picture picture {
  object-fit: cover;

  @include vp-1023 {
    min-width: 324px;
    min-height: 264px;
  }

  @include vp-767 {
    min-width: 290px;
    min-height: 186px;
  }
}
