.section {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1159 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &--advantages,
  &--catalog {
    padding-top: 103px;
  }

  &--booking {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--contacts {
    padding-bottom: 113px;
  }
}
