.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 106px;

  @include vp-1023 {
    min-width: 87px;
  }

  @include vp-767 {
    min-width: 87px;
  }
}

.socials__item {
  margin-left: 28px;

  @include vp-1023 {
    margin-left: 23px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 23px;
  }
}

.socials__item svg {
  fill: $color-alice-blue;

  &:hover,
  &:focus {
    fill: $color-ship-cove;
  }

  &:active {
    fill: $color-curiosus-blue;
  }
}

.socials__item--facebook svg {
  height: 20px;
  width: 11px;

  @include vp-1023 {
    height: 16px;
    width: 9px;
  }
}

.socials__item--instagram svg {
  height: 20px;
  width: 19.5px;

  @include vp-1023 {
    height: 16px;
    width: 16px;
  }
}

.socials__item--twitter svg {
  height: 16.25px;
  width: 19.5px;

  @include vp-1023 {
    height: 13px;
    width: 16px;
  }
}
