.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  min-width: 106px;

  @include vp-767 {
    min-width: 100px;
  }
}

.socials__item svg {
  fill: $color-alice-blue;

  &:hover,
  &:focus {
    fill: $color-ship-cove;
  }

  &:active {
    fill: $color-curiosus-blue;
  }
}
